body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background: url(https://lh3.googleusercontent.com/-Ytc1nm0H-xk/VlarLMg6ssI/AAAAAAAANLw/bRp6GBN5ILk/s167-Ic42/bg.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.homecontainer{
  margin-top: 3%;
}
.bg-light{
  padding:0px;
  margin-top: 11%;
	background: #b71c1c !important;
	max-height: 100px !important;
	box-shadow: 0px 1px 1px #7b7b7b;
  border: none !important;
  position: sticky !important;
  top:0;
  color:#fff;
  z-index: 999;
}
#navbarNav{
  margin-left: 10%;
  background: #bd0303;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
  padding-left: 40px;
}
.navbar-light .navbar-nav .nav-link:hover{
  color:yellow;
}
.header{
    margin-left: 30px;
    margin-right: 30px;
    
}
.socialmessage{
  margin-left: 30px;
  margin-right: 30px;
  padding-top:-10px;
  border-top: 1px solid burlywood;
  border-bottom: 1px  solid burlywood;
}
.socialmessage ul li{
  list-style:none;
  display: inline;
  padding-left: 10px;
}
.socialmessage ul{
  margin-left: -45px;
  margin-top: 0;
  margin-bottom: 0px;
}
.bigInt {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: 0 1px 0 white;
  font-size: 17px;
  color: #1e1e1e;
  line-height: 26px;
  font-family: 'Open Sans',sans-serif,Helvetica,Arial;
  text-align: justify;
}
.bec650{
  border: 1px solid #CCC;
  padding: 9px;
  background: #fff;
  width: 93%;
  margin-top:10px;
  margin-left: 30px;

}
.face {
  float: left;
  border-right: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  padding: 4px;
  background-color: #fff;
  margin-right: 11px;
  width: 100px;
  margin-left: 20px;
}
a{
  text-decoration: none !important;
}
a:hover{
  color: #b71c1c;
}
.aboutme h5{
  font-weight: 700;
  letter-spacing: 1px;
}
.aboutme h6{
  line-height: 9px;
  font-family: 'Open Sans',sans-serif,Helvetica,Arial;
  text-align: justify;
  font-size: 15px;
}
.profileSide{
  margin-left: 19px !important;
}
.aboutme{
  padding-top: 10px;
}
.typeEmail{
  margin-left: 13%;
}
.addpostwe{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}
.header .titled:hover{
    background: #b32424;
    color: white;
    cursor: pointer;
}
.titlewe{
  margin:20px;
}
.profileSide .btn {
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(top, #fafbfc, #e4ebf0);
  background-image: -moz-linear-gradient(top, #fafbfc, #e4ebf0);
  background-image: linear-gradient(to bottom, #fafbfc, #e4ebf0);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFBFC', endColorstr='#FFE4EBF0')";
  *filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFBFC', endColorstr='#FFE4EBF0');
  font-weight: 600;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #dad8d8;
  box-shadow:         inset 0 0 10px #dad8d8;
 
}
.subscribe{
  border-top:1px solid  #deb88742;
  width: 90%;
  margin-left: 20px;
  margin-top:20px;

}
.widget-title {
  position: relative;
  float: left;
  width: 100%;
  height: 30px;
  background-color: #161619;
  margin: 6px 0 20px;
  margin-top:20px;
}
.widget-title > h3 {
  position: relative;
  float: left;
  height: 30px;
  font-size: 14px;
  color: #fff;
  background-color: #de0606;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0;
}

.linkdin{
 color: #0b3d73;;
 padding-left: 10px;
 padding-right: 10px;
}
.widget-title > h3:after {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  right: -15px;
  border-top: 30px solid transparent;
  border-left: 15px solid #e51515;
  border-right: 0 solid #e51515;
  border-bottom: 0;
}
.linkwebsite:hover{
  text-decoration: underline !important;
  color:yellow !important;
}
.contentblock{
  /*background: #2f1e2e;
      border-left: 5px solid #38bb6c;
  color:#fff;
  padding:20px;*/
      background: #f5eaea;
    border-left: 5px solid #dc0822;
    color: #000;
    padding: 20px;
}
.subscriberbyemail{
    margin-left: 32%;
    background: #de0606;
    color: #fff;
    border: none;
    padding: 4px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 17px;
}
.widget-content ul li{
  list-style: none;
  display: inline;
  padding-left: 10px;
}

.widget-content ul{
  margin-left: -31px !important;
}

.singlePost{
  margin-left: 5% !important;

}
.singlePost .entrycategories {
    position: relative;
    border: none;
    display: inline-block;
    padding: 1px 3px;
    line-height: 1.5;
    font-size: 14px;
    background: #000;
    color: #fff;
    padding: 1px 7px;
    font-family: graphikweb-regular;
    vertical-align: top;
    margin-top: 20px;
  }
  .entry-author-name{
    padding-left: 5px;
    padding-right: 5px;
  }
.singlePost .entry-title {
    font-size: 30px;
    font-family: typewriter-medium;
    font-weight: 100;
    line-height: 1.2;
    margin: 0 0 10px;
}
.singlePost .entry-meta {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 700;
    color: #000;
    font-family: graphikweb-regular;
    border-bottom: solid 2px #000;
    border-top: solid 2px #000;
    padding: 10px 0;
    font-family: graphikweb-semibold;
}
.singlePost .entry-meta {
    margin-bottom: 24px;
}
 .singlePost  p {
    font-family: graphikweb-regular,sans-serif;
    margin: 1px 0 14px;
    padding: 0;
    font-weight: initial;
    width: 100%;
    text-align: left;
    overflow: hidden;
    display: block;
    position: relative;
    
}
.singlePost  p img {
    height: auto;
    width: 100%;
    clear: both;
    border: solid 5px #e64545;
}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #171b1a !important;
    margin-top: 10%;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.subscribe-field-blog_subscription-4{
    width: 70%;
    display: inline-block;
    float: left;
    font-family: graphikweb-regular;
    padding: 10px 20px;
    margin-right: 16px;
    vertical-align: middle;
    border: 2px solid #fff;
    font-size: 12px;
    color: #000;
    font-weight: 700;
    margin-top: 20px;
    background: #fff;
}
.submitEmail{
          background-color: #333;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 11px 8px;
    text-decoration: none;
    white-space: normal;
    width: auto;
    margin-top: 18px;
}
.submitEmail:hover{
  background-color: #bd0303;
}
  
.commentbox{
  margin-top: 5%;
}
.commentbox .person{
  font-size: 100px;
}
#thrive-comments .tcm-comments-create .tcm-create-post-container .right, #thrive-comments .tcm-create-comment-fields .tcm-create-post-container .right, #thrive-comments .tcm-lazy-comments .tcm-create-post-container .right {
    flex-grow: 1;
    transition: all 3s;
}
.thrive-comments textarea {
    margin-top: 4%;
    min-height: 105px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    color: #393939;
    padding: 18px 20px 20px;
    transition: height 0s;
    resize: vertical;
    background: #fff;
}
.thrive-comments textarea, .thrive-comments input {
    background-color: #f6f7f8;
    border: 1px solid #c8cacb;
    box-shadow: inset 0 0 3px #d5d7d8;
    border-radius: 5px;
    transition: all .3s;
    font-family: inherit;
    outline: none;
}
.thrive-comments input {
    height: 45px;
    padding: 0 20px;
    font-size: 17px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px;
}
#submit-comment{
      background-color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    height: 35px;
    padding: 0 20px 0 35px;
    border: 1px solid;
    border-radius: 50px;
    text-transform: none;
    box-shadow: none;
    transition: all .3s;
    max-width: 200px;
    font-family: inherit;
    color: #dc2026;
    border-color: #dc2026;
}
@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

@media (min-width:1366px) and (max-width:1920px){
  .singlePost {
     margin-left: 0% !important; 
  }
}


